<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">Account</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/user/dashboard">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/profile/<%=user._id%>">Settings</a>
                                </li>
                                <li class="breadcrumb-item active"> <%= page_title %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-pills mb-2">
                        <!-- account -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/profile/<%=user._id%>">
                                <i data-feather="user" class="font-medium-3 me-50"></i>
                                <span class="fw-bold"><%= page_title %></span>
                            </a>
                        </li>
                        <!-- security -->
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/security/<%=user._id%>">
                                <i data-feather="lock" class="font-medium-3 me-50"></i>
                                <span class="fw-bold">Security</span>
                            </a>
                        </li>
                    </ul>

                    <!-- profile -->
                    <div class="card">
                        <div class="card-header border-bottom">
                            <h4 class="card-title">Profile Details</h4>
                        </div>
                        <div class="card-body py-2 my-25">
                            <!-- form -->
                            <form class="validate-form mt-2 pt-50" id="adminAcntFrm" action="/admin/updateProfile" method="POST" enctype='multipart/form-data'>
                                <!-- header section -->
                                <div class="d-flex">
                                    <% if (user.profile_image) { %>
                                    <a href="/uploads/profile_pic/<%= user.profile_image %>" class="me-25">
                                        <img src="/uploads/profile_pic/<%= user.profile_image %>" id="account-upload-img" class="uploadedAvatar rounded me-50" alt="profile image" style="max-width: 100px; max-height: 100px;" />
                                    </a>
                                    <% } else { %>
                                    <a href="/uploads/no-image.png" class="me-25">
                                        <img src="/uploads/no-image.png" id="account-upload-img" class="uploadedAvatar rounded me-50" alt="profile image" style="max-width: 100px; max-height: 100px;" />
                                    </a>
                                    <% } %>
                                    <!-- upload and reset button -->
                                    <div class="d-flex align-items-end mt-75 ms-1">
                                        <div>
                                            <label for="account-upload" class="btn btn-sm btn-primary mb-75 me-75">Upload</label>
                                            <input type="file" name="profile_image" id="account-upload" hidden accept="image/*" />
                                            <button type="button" id="account-reset" class="btn btn-sm btn-outline-secondary mb-75 d-none">Reset</button>
                                            <p class="mb-0">Upload image file only.</p>
                                        </div>
                                    </div>
                                    <!--/ upload and reset button -->
                                </div>
                                <!--/ header section -->
                                <br><br>
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="accountFirstName">First Name</label>
                                        <input type="text" class="form-control" id="accountFirstName" name="first_name" placeholder="John" value="<%= response.first_name %>" data-msg="Please enter first name" />
                                    </div>
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="accountLastName">Last Name</label>
                                        <input type="text" class="form-control" id="accountLastName" name="last_name" placeholder="Doe" value="<%= response.last_name %>" data-msg="Please enter last name" />
                                    </div>
                                    <div class="col-12 col-sm-6 mb-1">
                                        <label class="form-label" for="accountEmail">Email</label>
                                        <input type="email" class="form-control" id="accountEmail" name="email" placeholder="Email" value="<%= response.email %>" />
                                    </div>
                                    <div class="col-12">
                                        <input type="hidden" name="id" value="<%= response._id %>">
                                        <!-- <button type="submit" class="btn btn-primary mt-1 me-1">Save changes</button>
                                        <button type="reset" class="btn btn-outline-secondary mt-1">Discard</button> -->
                                        <button type="submit"class="btn btn-primary mt-1 me-1">Save changes</button>
                                        <a href="/user/dashboard"
                                        type="reset" class="btn btn-outline-secondary mt-1">Discard</a>
                                    </div>
                                </div>
                            </form>
                            <!--/ form -->
                        </div>
                    </div>
                    <!--/ profile -->
                </div>
            </div>
            
        </div>
    </div>
</div>