<div class="">
    <div class="">Hello <%= name %>,</div>
    <div class=""><p>Your account has been created by <%= project_name %></p></div>
    <div class="">Please consider the following as your login details</div>
    <p><strong>Email : </strong><%= email %></p>
    <p><strong>Password : </strong><%= password %></p>
    <div class=""><p>Thank You,</p></div>
    <div class=""><%= project_name %></div>
</div>